<launch>
<!-- SICK LASER SCANNER TRANSFORMATIONS -->
<node pkg="tf" type="static_transform_publisher" name="sick_front_bc" args="0.048 0 0.45 0 0 0 1 base_link sick_front 100" />
<node pkg="tf" type="static_transform_publisher" name="sick_rear_bc" args="-0.0495 0.001 0.454 0 0 1.0	 0 base_link sick_rear 100" />

<!-- HOKUYO LASER SCANNER TRANSFORMATIONS -->
<node pkg="tf" type="static_transform_publisher" name="hokuyo_front_bc" args="0.062 0.007 0.700 0 0 0 1 base_link hokuyo_front 100" />
<node pkg="tf" type="static_transform_publisher" name="hokuyo_rear_bc" args="-0.0495 0.001 0.704 0 0 1.0 0 base_link hokuyo_rear 100" />

<!-- CAMERA TRANSFORMATIONS -->
<node pkg="tf" type="static_transform_publisher" name="frontal_cam_bc" args="-0.185 0.053 1.070 0 0 0 1 base_link frontal_cam 100" />
<node pkg="tf" type="static_transform_publisher" name="svs_r_bc" args="-0.052 -0.079 0.745 0 0 0 1 base_link svs_r 100" />
<node pkg="tf" type="static_transform_publisher" name="svs_l_bc" args="-0.052  0.103 0.745 0 0 0 1 base_link svs_l 100" />
<node pkg="tf" type="static_transform_publisher" name="svs_t_bc" args="-0.072  0.009 0.868 0 0 0 1 base_link svs_t 100" />
<node pkg="tf" type="static_transform_publisher" name="omni_bc"  args="-0.268 0.002 1.083 0.0 -0.707 0.0 0.707 base_link omni_cam 100" />


<!-- GPS TRANSFORMATION -->
<node pkg="tf" type="static_transform_publisher" name="gps_antenna_bc" args="-0.021 0.164 1.375 0 0 0 1 base_link gps_antenna 100" />

<!-- IMU TRANSFOMATION -->
<node pkg="tf" type="static_transform_publisher" name="imu_bc" args="-0.224 -0.007 0.537 0 0 0 1 base_link imu 100" />

</launch>
